<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_template :: head('Cadastrar')}"></head>

<body class="cyan lighten-4">
    <nav th:replace="~{_template :: #navbar}"></nav>

    <main class="container">
        <h3 th:text="#{fish.unfish}"></h3>

        <div class="card-panel">
            <form th:action="${'/fish'}" method="post" th:object="${fish}">
                <div class="input-field col s12">
                    <input type="text" th:field="*{name}" class="validate">
                    <label for="name" th:text="#{fish.name}"></label>
                    <span class="helper-text red-text" th:errors="*{name}"></span>
                </div>

                <div class="input-field col s12">
                    <input th:field="*{description}" type="text" class="validate">
                    <label for="description" th:text="#{fish.description}"></label>
                    <span class="helper-text red-text" th:errors="*{description}"></span>
                </div>

                <div class="input-field col s12">
                    <input th:field="*{size}" type="text" class="validate">
                    <label for="size" th:text="#{fish.size}"></label>
                    <span class="helper-text red-text" th:errors="*{size}"></span>
                </div>

                <label for="score" th:text="#{fish.score}"></label>
                <p class="range-field">
                    <input type="range" th:field="*{score}" min="1" max="100" />
                    <span class="helper-text red-text" th:errors="*{score}"></span>
                </p>

                <div class="card-actions right-align">
                    <a href="/fish" th:text="#{fish.cancel}"></a>
                    <button class="btn" th:text="#{fish.save}"></button>
                </div>
            </form>
        </div>
    </main>

</body>

</html>